*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
#header{
    width: 100vw;
    display: flex;
    justify-content: center;
}
img{
    height: 300px;
    width: 300px;
}
ul{
    width: 35vw;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}
a{
    text-decoration: none;
}
.main{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}